.container {
  max-width: 70%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #CCC;
  width: 150px;
  height: 300px;
}

.item-card-photo {
  width: 150px;
}

.item-card-name {
  text-align: center;
}

.item-card-type {
  text-align: center;
  background-color: #ccc;
}


.container-app {
 width: 70%;
 margin: 0 auto;
}

/* HOME */

.category-item {
  height: 42px;
  width: 100%;
  padding: 12px 24px;
  margin: 6px;
  background-color: #304E74;
  border-radius: 4px;

  display: flex;
  align-items: center;

  font-size: 1.2em;
  color: floralwhite;
}

.category-item-name {
  color: floralwhite;
  font-size: .9em;

  text-decoration: none;
}

/* MENU */

.menu {
  height: 44px;
  width: 100%;
  background-color: #EC6D06;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-title {
  color: floralwhite;
  font-size: 1.4em;
}

.menu-list {
  display: flex;
  gap: 12px;

  list-style: none;
}

.menu-list-item {
  color: floralwhite;
  font-size: 1.2em;

  text-decoration: none;
}

/* CART */

.table-cart {
  width: 100%;
  background: #FFF;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.table-cart thead, th {
  color: #999;
  text-align: left;
  padding: 12px;
}

.table-cart tbody, th {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.table-image {
  height: 100px;
}