.container {
  max-width: 70%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: floralwhite;
  border: 1px solid #304E74;
  width: 170px;
  height: 350px;
}

.item-card-photo {
  width: 100%;
}

.item-card-name {
  max-height: 50px;
  overflow: hidden;

  text-align: center;
  font-size: .9em;
  font-weight: 500;
  text-transform: uppercase;
}

.item-card-type {
  text-align: center;
  color: floralwhite;
  font-size: .9em;

  background-color: #304E74;
  overflow: hidden;
}

.item-card-buttons {
  padding: 0 12px;

  text-align: right;
  color: #EC6D06;
  font-size: 1.3em;
}

.container-app {
 width: 70%;
 margin: 0 auto;
}

/* HOME */

.category-item {
  height: 42px;
  width: 100%;
  padding: 12px 24px;
  margin: 6px;
  background-color: #304E74;
  border-radius: 4px;

  display: flex;
  align-items: center;

  font-size: 1.2em;
  color: floralwhite;
}

.category-item-name {
  color: floralwhite;
  font-size: .9em;

  text-decoration: none;
}

/* MENU */

.menu {
  height: 44px;
  width: 100%;
  background-color: #EC6D06;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-title {
  color: floralwhite;
  font-size: 1.4em;
}

.menu-list {
  display: flex;
  gap: 12px;

  list-style: none;
}

.menu-list-item {
  color: floralwhite;
  font-size: 1.2em;

  text-decoration: none;
}

/* CART */

.table-cart {
  width: 100%;
  background: #fff;
  padding: 16px;

  font-weight: 600;
}

.table-cart thead, th {
  color: #304E74;
  text-align: left;
  
  border-bottom: 1px solid #304E74;
}

.table-cart tbody, td {
  text-transform: uppercase;
}

.table-image {
  margin: 8px;
  height: 130px;
}