.container {
  max-width: 70%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #CCC;
  width: 150px;
  height: 300px;
}

.item-card-photo {
  width: 150px;
}

.item-card-name {
  text-align: center;
}

.item-card-type {
  text-align: center;
  background-color: #ccc;
}


.container-app {
 width: 70%;
 margin: 0 auto;
}

/* HOME */

.category-item {
  height: 32px;
  width: 100%;
  padding: 12px;
  margin: 8px;
  background-color: #304E74;
  border-radius: 4px;

  font-size: 1.4em;
  color: floralwhite;
}

/* MENU */

.menu {
  height: 44px;
  width: 100%;
  background-color: #EC6D06;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-title {
  color: floralwhite;
  font-size: 1.4em;
}

.menu-list {
  display: flex;
  gap: 12px;

  list-style: none;
}

.menu-list-item {
  color: floralwhite;
  font-size: 1.2em;

  text-decoration: none;
}

Link {
  text-decoration: none;
}